<?xml version="1.0"?>

<!--
This is the URDF model for the Intel RealSense d430 camera module by Mak601
-->

<robot name="sensor_d430" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Includes -->
   <xacro:property name="M_PI" value="3.1415926535897931" />

  <!-- <xacro:include filename="$(find trp1_description)/urdf/materials.xacro" /> -->

<link name="camera_mount_link">
<!--    <visual>
      <origin xyz="0 0 0.0045" rpy="0 0 0"/>
      <geometry>
	    <box size=".0647 .014 .009"/>
      </geometry>
      <material name="grey"/>
    </visual>

    <visual>
      <origin xyz="-0.025 0 0.005" rpy="0 0 0"/>
      <geometry>
	     <cylinder length="0.01" radius="0.005"/>
      </geometry>
      <material name="orange"/>
    </visual>

    <visual>
      <origin xyz="0.025 0 0.005" rpy="0 0 0"/>
      <geometry>
	     <cylinder length="0.01" radius="0.005"/>
      </geometry>
      <material name="orange"/>
    </visual>
    
    <visual>
      <origin xyz="-0.004 0 0.005" rpy="0 0 0"/>
      <geometry>
	     <cylinder length="0.01" radius="0.0045"/>
      </geometry>
      <material name="green"/>
    </visual> -->


</link>

  <joint type="fixed" name="camera_mount_joint">
    <origin xyz="0.016 0.0 0.009" rpy="0 0 3.14"/>
    <parent link="camera_mount_link">camera_mount_link</parent>
    <child link="camera_optical_depth_link">camera_optical_depth_link</child>
    <axis xyz="0 1 0"/>
  </joint>
     
    <link name="camera_optical_depth_link">
   </link>

</robot>
