<?xml version="1.0"?>
<robot
  name="yahboom_rosmaster_description">

  <link name="base_link">
  </link>

  <link
    name="chassis_link">
    <inertial>
      <origin
        xyz="-0.015895 -0.0026718 0.076958"
        rpy="0 0 0" />
      <mass
        value="100" />
      <inertia
        ixx="5.92"
        ixy="-0.0041576"
        ixz="0.012614"
        iyy="11.61"
        iyz="0.00084255"
        izz="16.64" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://yahboom_rosmaster_description/meshes/chassis_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="1.0 0.69 0.18" /> 
      </geometry>
    </collision>
  </link>

  <joint name="chassis_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis_link"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link
    name="FR_wheel_link">
    <inertial>
      <origin
        xyz="0.0016929 0.024071 1.8005E-05"
        rpy="0 0 0" />
      <mass
        value="0.76208" />
      <inertia
        ixx="0.0001995"
        ixy="1.2056E-05"
        ixz="7.5814E-09"
        iyy="0.00037007"
        iyz="1.2832E-07"
        izz="0.00019866" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://yahboom_rosmaster_description/meshes/FR_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.035" length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_wheel_link_joint"
    type="continuous">
    <origin
      xyz="0.177 -0.27738 0.0121"
      rpy="0.00061433 0.019368 0.070226" />
    <parent
      link="chassis_link" />
    <child
      link="FR_wheel_link" />
    <axis
      xyz="0.070155 0.99754 0.00074612" />
    <limit
      effort="150"
      velocity="15.56" />
    <dynamics
      damping="0.05"
      friction="0.1" />
    <safety_controller
      k_position="1000000"
      k_velocity="100" />
  </joint>
  <link
    name="FL_wheel_link">
    <inertial>
      <origin
        xyz="-0.0016928 -0.02407 5.0221E-10"
        rpy="0 0 0" />
      <mass
        value="0.76208" />
      <inertia
        ixx="0.0001995"
        ixy="1.2056E-05"
        ixz="-1.3667E-09"
        iyy="0.00037007"
        iyz="9.6114E-11"
        izz="0.00019866" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://yahboom_rosmaster_description/meshes/FL_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.035" length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FL_wheel_link_joint"
    type="continuous">
    <origin
      xyz="0.217 0.27102 0.0121"
      rpy="0 0 0.070214" />
    <parent
      link="chassis_link" />
    <child
      link="FL_wheel_link" />
    <axis
      xyz="-0.070156 -0.99754 0" />
    <limit
      effort="150"
      velocity="15.56" />
    <dynamics
      damping="0.05"
      friction="0.1" />
    <safety_controller
      k_position="1000000"
      k_velocity="100" />
  </joint>
  <link
    name="BR_wheel_link">
    <inertial>
      <origin
        xyz="0.0016929 0.024071 1.8005E-05"
        rpy="0 0 0" />
      <mass
        value="0.76208" />
      <inertia
        ixx="0.0001995"
        ixy="1.2056E-05"
        ixz="7.5814E-09"
        iyy="0.00037007"
        iyz="1.2832E-07"
        izz="0.00019866" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://yahboom_rosmaster_description/meshes/BR_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.035" length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BR_wheel_link_joint"
    type="continuous">
    <origin
      xyz="-0.303 -0.27738 0.0121"
      rpy="0.00061433 0.019368 0.070226" />
    <parent
      link="chassis_link" />
    <child
      link="BR_wheel_link" />
    <axis
      xyz="0.070155 0.99754 0.00074612" />
    <limit
      effort="150"
      velocity="15.56" />
    <dynamics
      damping="0.05"
      friction="0.1" />
    <safety_controller
      k_position="1000000"
      k_velocity="100" />
  </joint>
  <link
    name="BL_wheel_link">
    <inertial>
      <origin
        xyz="-0.0016928 -0.02407 -1.8003E-05"
        rpy="0 0 0" />
      <mass
        value="0.76208" />
      <inertia
        ixx="0.0001995"
        ixy="1.2056E-05"
        ixz="7.1848E-09"
        iyy="0.00037007"
        iyz="1.2834E-07"
        izz="0.00019866" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://yahboom_rosmaster_description/meshes/BL_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.035" length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint
    name="BL_wheel_link_joint"
    type="continuous">
    <origin
      xyz="-0.263 0.27088 0.0121"
      rpy="0.00061433 0.019368 0.070226" />
    <parent
      link="chassis_link" />
    <child
      link="BL_wheel_link" />
    <axis
      xyz="-0.070155 -0.99754 -0.00074612" />
    <limit
      effort="150"
      velocity="15.56" />
    <dynamics
      damping="0.05"
      friction="0.1" />
    <safety_controller
      k_position="1000000"
      k_velocity="100" />
  </joint>
  <link
    name="MR_wheel_link">
    <inertial>
      <origin
        xyz="0.0014757 0.020983 1.5695E-05"
        rpy="0 0 0" />
      <mass
        value="3.5" />
      <inertia
        ixx="0.0021514"
        ixy="0.00013184"
        ixz="9.2888E-08"
        iyy="0.0040168"
        iyz="1.4025E-06"
        izz="0.0021423" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://yahboom_rosmaster_description/meshes/MR_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.09" length="0.044" />
      </geometry>
    </collision>
  </link>
  <joint
    name="MR_wheel_link_joint"
    type="continuous">
    <origin
      xyz="-0.043001 -0.32758 0.065"
      rpy="0.00061433 0.019368 0.070226" />
    <parent
      link="chassis_link" />
    <child
      link="MR_wheel_link" />
    <axis
      xyz="0.070155 0.99754 0.00074612" />
    <limit
      effort="0"
      velocity="7" />
    <dynamics
      damping="0.1"
      friction="0.5" />
    <safety_controller
      k_position="500000"
      k_velocity="50" />
  </joint>
  <link
    name="ML_wheel_link">
    <inertial>
      <origin
        xyz="-0.0014757 -0.020983 -1.5695E-05"
        rpy="0 0 0" />
      <mass
        value="3.5" />
      <inertia
        ixx="0.0021514"
        ixy="0.00013184"
        ixz="1.0007E-07"
        iyy="0.0040168"
        iyz="1.3971E-06"
        izz="0.0021423" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://yahboom_rosmaster_description/meshes/ML_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.09" length="0.044" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ML_wheel_link_joint"
    type="continuous">
    <origin
      xyz="-0.043001 0.32282 0.065"
      rpy="0.00061433 0.019368 0.070226" />
    <parent
      link="chassis_link" />
    <child
      link="ML_wheel_link" />
    <axis
      xyz="-0.070155 -0.99754 -0.00074612" />
    <limit
      effort="0"
      velocity="7" />
    <dynamics
      damping="0.1"
      friction="0.5" />
    <safety_controller
      k_position="500000"
      k_velocity="50" />
  </joint>
  <link
    name="lidar_front_link">
    <inertial>
      <origin
        xyz="0.0028856 -0.0028901 -0.017643"
        rpy="0 0 0" />
      <mass
        value="0.14999" />
      <inertia
        ixx="4.8244E-06"
        ixy="1.6817E-07"
        ixz="-4.7496E-08"
        iyy="4.8246E-06"
        iyz="4.7512E-08"
        izz="5.7234E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://yahboom_rosmaster_description/meshes/lidar_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://yahboom_rosmaster_description/meshes/lidar_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_front_link_joint"
    type="fixed">
    <origin
      xyz="0.32487 0.24906 0.218"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="lidar_front_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar_back_link">
    <inertial>
      <origin
        xyz="0.0028856 -0.0028901 -0.017643"
        rpy="0 0 0" />
      <mass
        value="0.14999" />
      <inertia
        ixx="4.8244E-06"
        ixy="1.6817E-07"
        ixz="-4.7496E-08"
        iyy="4.8246E-06"
        iyz="4.7512E-08"
        izz="5.7234E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://yahboom_rosmaster_description/meshes/lidar_back_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://yahboom_rosmaster_description/meshes/lidar_back_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_back_link_joint"
    type="fixed">
    <origin
      xyz="-0.41524 -0.25105 0.218"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="lidar_back_link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <ros2_control name="HitbotSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSystem</plugin>
    </hardware>

    <joint name="ML_wheel_link_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="MR_wheel_link_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin
      filename="libgz_ros2_control.so"
      name="gz_ros2_control">
    </plugin>
  </gazebo>


</robot>